@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');
#heading {
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
    font-size: 50px;
}


.background{
    text-align: center;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

#mapBackground {
    position: absolute;
    z-index: -2;
 }
 #map {
    position: absolute;
    z-index: -1;
 }
 