@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: powderblue;
}

body {
    text-align: center;
    background-color: powderblue;
}
canvas {
    border: 5px solid black;
    z-index: -2;
}

#hidden {
    display: none;
}

head {
    background-color: powderblue;
}

#coords {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: powderblue;
}

#mapImage {
    z-index: -1;
}